<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="https://via.placeholder.com/70x70/4b56d2/ffffff?text=SK" alt="Logo">
        </div>
        <div class="footer-content">
            <div class="footer-links">
                <div class="footer-nav">
                    <a href="/index.html">Home</a>
                    <a href="/home/about.html">About</a>
                    <a href="/home/skills.html">Skills</a>
                    <a href="/home/experience.html">Experience</a>
                    <a href="/home/projects.html">Projects</a>
                    <a href="/home/profiles.html">Profiles</a>
                    <a href="/home/contact.html">Contact</a>
                </div>
                <div class="footer-social">
                    <a href="mailto:suhrobqalandarov27@gmail.com"><i class="fas fa-envelope"></i></a>
                    <a href="https://t.me/SuhrobKalandarov"><i class="fab fa-telegram"></i></a>
                    <a href="https://linkedin.com/in/suhrob-qalandarov-4a20b5293"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/suhrob-kalandarov"><i class="fab fa-github"></i></a>
                </div>
            </div>
            <div class="footer-copyright">
                <p>&copy; 2025 Suhrob Kalandarov. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
